body {
  background-color:#98D9C6;//#02A675;
  background-image: url(background_image.png);
  background-repeat:y;
  color: #FFD580;
  font-family:sans-serif;
  font-size:30px;
}
@font-face{
  font-family:arkFont;
  src: url(fairytale.ttf);
}
#loginTitle {
  margin:auto;
  text-align:center;
  font-size:80px;
  font-family:arkFont;
}
#login {
  border-style:double;
  border-width:8px;
  border-color:#B3AFA1;
  background-color:#565654;
  border-radius:20px;
  padding:10px;
  font-family:arkFont;
  font-size:40px;
  margin:auto;
  width:30%;
  position:relative;
}
#register {
  border-style:solid;
  border-width:2px;
  border-color:#08789D;
  padding:10px;
  font-family:arial;
  font-size:17px;
  font-weight:bold;
  color:#03546F;
  background-color:#98C6D5;
  width:200px;
  float:left;
  text-align:left;
  position:absolute;
  top:50px;
  left:50px;
}
#username {
  font-family:sans-serif;
  font-size:20px;
}
#password {
  font-size:20px;
}

#story{
  font-family:arkFont;
  font-size:40px;
  text-align:center;
  border-style:double;
  border-width:8px;
  border-color:#B3AFA1;
  border-radius:20px;
  background-color:#565654;
  padding:10px;
  width:50%;
  text-align:left;
  margin-left:auto;
  margin-right:auto;
}